:root {
    --shelf-item-size: 20rem;
}

.shelf {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--shelf-item-size));
    gap: 1rem;
    row-gap: 1rem;
    justify-content: space-between;
    align-content: flex-start;

    a.item {
        text-decoration: none;
        background-color: var(--clearColor);
        width: var(--shelf-item-size);
        position: relative;

        box-shadow: 0px 0px 3px rgba($color: #000000, $alpha: 0.2);

        &[visible="true"] {
            .popup {
                visibility: visible;
            }
        }

        .popup {
            visibility: hidden;
            position: absolute;
            top: 1rem;
            right: 1rem;
            width: 2rem;
            height: 2rem;
            
            box-shadow: 0px 0px 3px rgba($color: #000000, $alpha: 0.2);
            border-radius: 50% 50% 50% 50%;
            
            background-color: var(--accentColor);
            color: var(--clearColor);

            font-size: 1.5rem;
            font-weight: bold;

            display: flex;
            justify-content: center;
        }

        .wrapper {
            padding: 1rem;

            img {
                display: block;
                height: auto;
                width: 100%;
                aspect-ratio: 16 / 9;
            }

            .details {
                padding: 2rem 1rem;
                color: var(--foregroundColor);

                // Title
                h4 {
                    font-weight: bold;
                }

                // Description
                h5 {
                    font-weight: lighter;
                }
            }
        }

        .content {
            text-transform: uppercase;
            font-weight: bold;

            // A partir de
            > div {
                display: flex;
                justify-content: flex-end;
                width: fit-content;
                height: fit-content;

                .from {
                    &[visible="false"] {
                        visibility: hidden;
                    }

                    padding: 1rem 2rem;
                    box-shadow: 0px -3px 3px rgba($color: #000000, $alpha: 0.1);
                    background-color: var(--accentColor);

                    p {
                        color: white;
                        text-align: end;
                    }
                }
            }
        }

        // VENDA/ALUGAR & PREÇO
        .show {
            box-shadow: 0px -3px 3px rgba($color: #000000, $alpha: 0.05);
            // padding: 10px 20px;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: center;
            color: var(--accentColor);
            font-weight: bold;
            text-transform: uppercase;
            padding: 2rem;


            #sell {
                text-align: start;
            }
        
            #amount {
                text-align: end;
            }
        }
    
        &:hover {
            scale: 1.005;
            box-shadow: 0px 0px 9px rgba($color: #000000, $alpha: 0.2);
            transition: 0.1s ease;
        }
    }    
}

.columns {
    display: flex;

    .column {
        width: 50%;
        flex: 1;
        padding-left: 1em;

        &:nth-child(odd) {
            padding-left: 0;
            padding-right: 1em;
        }
    }
}

p {
    font-size: 1.4rem;
}

// #description, #availability {
//     // padding: 1rem;
// }

#highlight {
    width: 100%;

    .table {
        font-size: 1.8rem;
        width: 100%;
        // height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        & > * {
            margin-bottom: 1rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
        
        table {
            // display: ;
            width: 100%;
            height: 100%;
            background-color: var(--clearColor);
            padding: 1rem;
            box-shadow: .5rem 2px .5rem rgba(0,0,0,0.1);
            border-collapse: separate;
            border-spacing: 0rem;

            tr {
                padding: 2rem;
                height: auto;
            
                &:nth-child(odd) {
                    background-color: rgba(0, 0, 0, 0.05);
                }
            }
            
            td {
                margin: 1rem;
                
                text-align: end;
                vertical-align: top;
            }
        
            th {
                margin: 1rem;

                width: 50%;
                text-align: start;
                vertical-align: top;
            }
        }

        #title {
            height: fit-content;
            padding: 2rem;

            h1 {
                font-size: 3rem;
            }

            h2 {
                font-size: 2rem;
            }
        }
    }
}

#availability {
    .container {
        .accordion-item {
            // background-color: var(--clearColor);
            margin-bottom: 1rem;
            padding: 1rem;
            // box-shadow: .5rem 2px .5rem rgba(0,0,0,0.1);

            .accordion-link {
                font-size: 1.6rem;
                color: rgba(0, 0, 0, 0.8);
                text-decoration: none;
                width: 100%;
                padding: 1rem 0;
                display: flex;

                ion-icon {
                    padding: .5rem;

                    &[data = "forward"] {
                        display: block;
                    }
                    
                    &[data = "down"] {
                        display: none;
                    }
                }
            }

            .answer {
                max-height: 0;
                overflow: hidden;
                position: relative;
                transition: max-height 625ms ease;

                &::before {
                    content: "";
                    position: absolute;
                    width: .6rem;
                    height: 90%;
                    background-color: var(--accentColor);
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }

                p {
                    color: rgba(0, 0, 0, 0.6);
                    padding: 2rem;
                }
            }

            &:target {
                .answer {
                    max-height: 20rem;
                }

                .accordion-link ion-icon[data="forward"] {
                    display: none;
                }

                .accordion-link ion-icon[data="down"] {
                    display: block;
                }
            }
        }
    }
}