:root {
    --backgroundColor: #edebde;
    --foregroundColor: #000000;
    --secondaryColor: #808080;
    --complementaryColor: #25262b;
    --accentColor: #ff4d23;
    --clearColor: #f6f5ef;
}

html {
    /* Verdana-based sans serif stack */
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

    // &:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
    //     all: unset;
    //     display: revert;
    // }
    
    ol, ul {list-style: none;}
    img {max-width: 100%;}
}

body {
    background-color: var(--backgroundColor);
    height: 100%;
}

#main {
    padding: 3rem;
    height: 100%;

    & > * {
        padding: 1.5rem 0;
    }
}

#footer {
    margin-top: auto;
}

.aspect-container {
    background-color: var(--clearColor);
    box-shadow: .5rem 2px .5rem rgba(0,0,0,0.1);
}

.container {
    width: 100%;
    margin: 0 auto;
}

.accent-color {
    color: var(--accentColor);
}

.shelf-wrapper {
    display: flex; 
    // align-items: center; 
    justify-content: center;
}

h1 {font-size: 4rem;  }
h2 {font-size: 3rem;  }
h3 {font-size: 2.5rem;}
h4 {font-size: 2rem;  }
h5 {font-size: 1.3rem;}
p  {font-size: 1.5rem;}

button {cursor: pointer;}

@import "navbar";
@import "footer";
@import "home";
@import "slider";
@import "about-us";
@import "components";
@import "item-display";