nav {
    z-index: 1;
    height: 80px;
    width: 100%;
    background: 
    linear-gradient(
        to right, 
        var(--secondaryColor), 
        var(--complementaryColor)
    );
    color: var(--clearColor);
    display: block;
    transition: top 0.3s;

    ul {
        float: right;
        margin-right: 20px;
        
        li {
            list-style: none;
            display: inline-block;
            line-height: 80px;
            
            a {
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-size: 20px;
                font-family: 'Alegreya Sans', sans-serif;
                transition: 0.4s
            }
        }
    }

    .navbar-selection {
        padding-left: 20px;
        padding-right: 20px;
        transition: 200ms ease;

        &:hover {
            background-color: rgba(255, 255, 255, 0.4);
            border-radius: 0px;
        }
    }

    .mini-logo {
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 2.5%;
        height: 60px;
    }
}