#highlight {
    .demo {
        overflow: hidden;
        width: 100%;
    }

    #lightSlider {
        list-style: none outside none;
        padding-left: 0;
        margin-bottom:0;
    }

    li {
        display: block;
        float: left;
        cursor: pointer;
    }

    img {
        display: block;
        height: auto;
        text-align: center;
        width: 100%;
        object-fit: contain;
    }

    .lSSlideOuter {
        .lSPager.lSGallery {
            li {
                opacity: 0.5;

                &.active {
                    opacity: 1;
                }
            }

            img {
                display: block;
                height: 64px;
                max-width: 100%;
                object-fit: cover;
            }
        }
    }

    lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li{
        border-radius: 0;
    }

    lSSlideOuter .lSPager.lSGallery li.active:hover, .lSSlideOuter .lSPager.lSGallery li:hover {
        border-radius: 0;
    }
}