:root {
    --backgroundColor: #edebde;
    --foregroundColor: #000000;
    --secondaryColor: #808080;
    --accentColor: #ff4d23;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    // &:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
    //     all: unset;
    //     display: revert;
    // }

    &, &::before, &::after {box-sizing: border-box;}
    
    ol, ul {list-style: none;}
    img {max-width: 100%;}

    /* Verdana-based sans serif stack */
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

body {
    background-color: var(--backgroundColor);
    height: 100%;
}

section {
    padding: 3rem;
}

@import "navbar";
@import "home";
@import "slider";
@import "item-display";
@import "about-us";
@import "contacts";
@import "footer";